{% extends "_layout.html" %}
{% block title %}
  SignUp Page
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<body class="body1" >
<h1 class ="signup text-white"style="text-align: center ">Sign Up</h1>
<div class="container-fluid text-white p-10 d-flex justify-content-center align-items-center" >
    <div class="col-md-8 border  p-2 m-2" >
        <form class="form" action = "{{ url_for('user.create') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h1 class ="signup text-white"style="text-align: center ">Sign Up</h1>
            <br><br>
            <div class="form-row">
                <div class="form-group col-md-4">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                {%if emailerror%}
                <p class="errorstatement">{{emailerror}}</p>
                 {%endif%}
                </div>
                <div class="form-group col-md-4">
                <label for="inputUsername4">Username</label>
                <input type="username" name="username" class="form-control " id="username" placeholder="Username">
                {% if usernameerror %}
                    <p class="errorstatement">{{usernameerror}}</p>
                {%endif%}
                </div>
                <div class="form-group col-md-4">
                <label for="inputPassword4">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
                {% if passworderror %}
                <p class="errorstatement">{{passworderror}}</p>
                    {%endif%}
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" name="homeaddress" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" name="homeaddress2" class="form-control" id="inputAddress2" placeholder="Postcode,City,State,Country">
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                <label for="inputCity">Age</label>
                <input type="text" name="age" class="form-control" id="inputAge">
                </div>
                <div class="form-group col-md-5">
                <label for="inputNationality">Nationality</label>
                <input type="text" name="nationality" class="form-control" id="inputNationality">
                </div>
                <div class="form-group col-md-5">
                <label for="inputPhone number">Phone Number</label>
                <input id="inputState" name="handphone" class="form-control"></input>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                <label for="inputICname">Identity Card Name</label>
                <input type="text" name="ic_name" class="form-control" id="ic_name">
                </div>
                <div class="form-group col-md-6">
                <label for="inputNationality">Identity Card Number</label>
                <input type="text" name="ic_num" class="form-control" id="ic_num">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
                </div>
            </div>
            <button type="submit-fluid" class="btn btn-warning btn-block ">Sign in</button>
        </form>
    </div>
</div>

<div class="card-footer text-white text-center bg-body">
    <h3 class="footer">Created By Dosbag</h3>
</div>
</body>
{% endblock %}