autopep8==1.4.3
boto3==1.9.130
botocore==1.12.130
braintree==3.52.0
certifi==2019.3.9
chardet==3.0.4
clarifai==2.6.1
Click==7.0
colorama==0.4.1
configparser==3.7.4
cssmin==0.2.0
docutils==0.14
Flask==1.0.2
Flask-Assets==0.12
Flask-Cors==3.0.9
Flask-Login==0.4.1
Flask-WTF==0.14.2
future==0.17.1
googleapis-common-protos==1.5.9
grpcio==1.20.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
jsmin==2.2.2
jsonschema==2.6.0
MarkupSafe==1.1.0
peewee==3.8.2
peewee-db-evolve==3.7.0
pipenv==2018.11.26
protobuf==3.7.1
psycopg2-binary==2.7.7
pycodestyle==2.5.0
python-dateutil==2.8.0
python-dotenv==0.10.1
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.3
webassets==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
xmltodict==0.12.0
