{% extends "_layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
    <!-- Navbar here -->
    <br>
    <br>
    <br>
    <h1 style="text-align: center">Sell Hand Market</h1>

    <div class="container">
        <hr>
        <br>
        
        <div id="matched_user">
            <p class="lead">We matched this hand for you</p><br>
            <img src="{{seller.seller_id.profilepic_url}}" alt="" width="250px" height="250px" class="handprofilepic"><br><br>
            <p class="lead">{{seller.seller_id.ic_name}}</p><br>
            <a href="{{url_for('sellHand.confirmBuy', seller_id=seller.seller_id.id)}}"><img id="buyButton" src="/static/Images/buy_button.png" alt="" class="btn buy-button ld ld-heartbeat" onclick="buyFromThisCustomer"></a>
        </div> 
    </div>

    <!-- JS here -->
    <script>

        function buyFromThisCustomer() {
            
        //   document.getElementById("buyButton").href ='{{url_for("sellHand.confirmBuy",seller_id=seller.id)}}' 
          document.getElementById("buyButton").href ='{{url_for("sellHand.confirmBuy", seller_id=seller.id)}}'
          document.getElementById("buyButton").click()
          
        }    
            
    </script>

<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>
{% endblock  %}