{% extends "_layout.html" %}
{% block content %}
    <!-- Navbar here -->

    <div id="sellHand-market">
        <h1 style="text-align: center">Sell Hand Market</h1>
        <div class="container" >
            <hr>
            <br>
            <div id="matched_user">
                <p class="lead" style="font-family: Cursive, Garamond, Comic Sans MS;"><i>We matched this hand for you</i></p><br>
                <img src="/static/Images/no_pic.gif" alt="" class="noPic"><br><br>
                <p class="lead"><b>{{seller.seller_id.ic_name}}</b></p><br>
                <a href="{{url_for('sellHand.confirmBuy', seller_id=result)}}"><img id="buyButton" src="/static/Images/buy_button.png" alt="" class="btn buy-button ld ld-heartbeat" onclick="buyFromThisCustomer"></a>
                <br><br><br>
            </div> 
        </div>
    </div>

    <!-- JS here -->
    <script>

        function buyFromThisCustomer() {
            
        //   document.getElementById("buyButton").href ='{{url_for("sellHand.confirmBuy",seller_id=seller.id)}}' 
          document.getElementById("buyButton").href ='{{url_for("sellHand.confirmBuy", seller_id=seller.id)}}'
          document.getElementById("buyButton").click()
          
        }    
            
    </script>
<br>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
{% endblock  %}