{% extends "_layout.html" %}
{% block title %}
  Edit Profile
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <!-- Navbar here -->
   

    <!-- Jumbotron here -->

    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/turquoise-lake-water-green-nature-background-resort-park_bdzizqio8__F0000.png); background-position: center">
        <br>
        <div class="container">
            <h1 class="display-4" style="text-align: center; -webkit-text-fill-color: white">Profile</h1>
            <p class="lead" style="text-align: center; -webkit-text-fill-color: white">Edit Your Profile</p>
        </div>
        <br>
    </div>

    <!-- Edit profile info form -->

    <div class="container">
        <br/>
        <h1>Edit infomation</h1>
        <br/>

        <form action="{{ url_for('profile.editprofile') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <label for='username'>Username: </label>
                <input type='text' name='username' class="form-control" value="{{current_user.username}}">
                <br>
                {% for error in errors if errors %}
                    <p style="text-align: center; -webkit-text-fill-color: rgb(213, 53, 53)">{{error}}</p>
                {% endfor %}
            

            <br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div>
                <label for='email'>Email: </label>
                <input type='text' name='email' class="form-control" value="{{current_user.email}}">
                <br>
            </div>
            
            
            <br>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div>
                <label for='email'>New Password: </label>
                <input type='password' name='new_password' class="form-control" placeholder="If You Do Not Wish To Update Password, Please Key In Your Current Password" >
                {%if passworderror%}
                    <p style="text-align: center; -webkit-text-fill-color: rgb(213, 53, 53)">{{passworderror}}</p>
                {%endif%}
            </div>
    
            <br/>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
    </div>



<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>

{% endblock %}