{% extends "_layout.html" %}
{% block title %}
  SignUp Page
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<body class="body2">

   
    <div class= 'error'>
        {% for error in errors if errors %}
            <p>{{error}}</p>
        {% endfor %}
    </div>
    <div class="error"> 
        {% if passworderror %}
            <p>{{passworderror}}</p>
        {%endif%}
    </div>
    <div class="container6">
        <div class="container8">
            <form class="form" action = "{{ url_for('user.create') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label class="text-white">Email</label>
                <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email", name="email">
                </div>
                <label class="text-white">Username</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                </div>
                <label class="text-white">Password</label>
                <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
                <label class="text-white">Age</label>
                <div class="form-group">
                <input type="text" class="form-control" id="age" placeholder="Age" name="age">
                </div>
                <label class="text-white">Home Address</label>
                <div class="form-group">
                <input type="text" class="form-control" id="homeadd" placeholder="home address" name="homeaddress">
                </div>
                <label class="text-white">Handphone Number</label>
                <div class="form-group">
                <input type="text" class="form-control" id="hpnum" placeholder="Handphone Number" name="handphone">
                </div>
                <label class="text-white">Identity Card Name</label>
                <div class="form-group">
                <input type="text" class="form-control" id="ic_name" placeholder="IC Name" name="ic_name">
                </div>
                <label class="text-white">Identity Card Number</label>
                <div class="form-group">
                <input type="text" class="form-control" id="ic_num" placeholder="IC Number" name = "ic_num">
                </div>
                <label class="text-white">Nationality</label>
                <div class="form-group">
                <input type="text" class="form-control" id="nationality" placeholder="Nationality" name="nationality">
                </div>
                <button type="submit" class="btn btn-info btn-block">Sign Up</button>
            </form>
        </div>
    </div>    

   

{% endblock %}