<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://loading.io/css/loading.css"/>
    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    
    {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    {% block header %}{% endblock %}
    <title>{% block title %}{% endblock %}DOSBAG</title>
    <script
    src="https://code.jquery.com/jquery-3.4.0.js"
    integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>src="bootstrap-4.0.0-dist/js/scrollreveal.min.js"</script>
  </head>
  <body>
    {% if current_user.id %}
      <nav class="navbar my-navbar navbar-expand-lg  fixed-top scrolling-navbar">
          <div class="container homepage-navbar">
            <a class="navbar-brand text-white" href="{{url_for('home')}}">Dosbag</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link text-white" href="{{url_for('profile.profile')}}">Profile <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link text-white" href="{{url_for('seller.availability')}}">MarketPlace</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link text-white" href="{{url_for('seller.sell')}}">Sell</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <!-- <a id="btn-logout" class="btn button btn-outline-dark mr-sm-2" type="submit" href="{{url_for('session.logout')}}">Logout</a> -->
                  <a id="btn-logout" class="btn btn-sm display-4 btn-primary my-2 my-sm-0" type="submit" href="{{url_for('session.logout')}}">Logout</a>
                </form>
              </div>
            </div>
      </nav>

    {% else %} 
      <nav class="navbar my-navbar navbar-expand-lg  fixed-top scrolling-navbar">
        <div class="container homepage-navbar">
          <a class="navbar-brand text-white" href="{{url_for('home')}}">Dosbag</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{{url_for('seller.availability')}}">MarketPlace</a>
                </li>

              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a class="btn button btn-outline-light mr-sm-2" style="background-color: #f2f2f2 !important;" type="submit" href="{{url_for('session.login')}}">Login</a>
                <a class="btn button btn-outline-light my-2 my-sm-0"  style="background-color: #ffcc66 !important;" type="submit" href="{{url_for('user.signup')}}">SignUp</a>
              </form>
            </div>
        </div>
      </nav>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
