<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dosbag</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" style="-webkit-text-fill-color: white">
    <a class="navbar-brand" href="#">Dosbag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Marketplace</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Sell</a>
              </li>
          </ul>
      </div>
  </nav>
  <div id="jumbo" class="jumbotron jumbotron-fluid" style="background-image: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/checkedluggage0815.jpg?itok=2L4Jd-z3); background-position: center">
    <br>
    <div class="container">
        <h1 class="display-4" style="text-align: center; -webkit-text-fill-color: white">Seller's Confirmation Page</h1>
        
    </div>
    <br>
  </div>

  <!-- Seller's form -->
  <div class="container">

    <div class="signUpForm">
        <form action = "{{ url_for('seller.post') }}" method="POST" >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p class="lead">Enter flight information</p>
            <div class="form-group">
              <label>Flightcode</label>
              <input type='text' placeholder = "{{flightcodes}}" name= 'flightcode'  class="form-control" value="{{flightcodes}}" / >
            </div>
            <div class="form-group">
              <label>Departure Time</label>
              <input type='text' placeholder = "{{time}}" name= 'departure_time'  class="form-control" value="{{time}}" / >
            </div>
            <div class="form-group">
              <label>Departure Date</label>
              <input type='text' placeholder = "{{date}}" name= 'departure_date'  class="form-control" value="{{date}}" / >
            </div>
            <div class="form-group">
              <label>Departure Location</label>
              <input type='text' placeholder = "{{departure_location}}" name= 'departure_location'  class="form-control" value="{{departure_location}}" / >
            </div>
            <div class="form-group">
              <label>Destination</label>
              <input type='text' placeholder = "{{destination}}" name= 'destination'  class="form-control" value="{{destination}}" / >
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="selleragreement">
                <label class="form-check-label" for="selleragreement">I have agree with the seller's terms & condition.</label>
            </div>
            <button type="submit" class="btn btn-info">Confirm Details</button>
        </form>
    </div>


  </div>
</body>
<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>
</html>