{% extends "_layout.html" %}
{% block title %}
  Marketplace
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    
    <!-- Jumbotron here -->

    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background-image: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/checkedluggage0815.jpg?itok=2L4Jd-z3); background-position: center">
        <br>
        <div class="container">
            <h1 class="display-4" style="text-align: center; -webkit-text-fill-color: white">Marketplace</h1>
            {%if current_user.username%}
            <p class="lead" style="text-align: center; -webkit-text-fill-color: white">Welcome {{current_user.username}}</p>
            {%else%}
            <p class="lead" style="text-align: center; -webkit-text-fill-color: white">Say no more to overpriced over-the-counter check-in luggage space!</p>
            {%endif%}
        </div>
        <br>
    </div>
    <!-- Buyer's form section -->
    <div class="container">
        <br>
        <p class="lead">Enter flight information</p>
        <form>
            <div class="row">
                <div class="col-sm">
                    <input type="plane_code" class="form-control" id="plane_code" placeholder="Enter plane code">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" name="time" placeholder="24hr format: 15:20:00" data-timepicker>
                </div>
                <div class="col-sm">
                    <input type="date" class="form-control" id="date" placeholder="dd/mm/yy">
                </div>
            </div>
            <br>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
        <br>
    </div>

    <!-- List-group of sells available -->

    <div class="container">
        <hr>
        <br>
        <p class="lead">All Sellers</p>
            <ul class="list-group">
                {%for l in list_of_sellers%}
                <form action = "{{ url_for('seller.buyer') }}" method="POST" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="flightcode" value="{{l.flightcode}}"/>
                    <input type="hidden" name="departure_date" value="{{l.departure_date}}"/>
                    <input type="hidden" name="departure_time" value="{{l.departure_time}}"/>
                    <input type="hidden" name="departure_location" value="{{l.departure_location}}"/>
                    <input type="hidden" name="destination" value="{{l.destination}}"/>
                    <input type="hidden" name="username" value="{{l.username}}"/>
                    <li class="list-group-item">{{l.flightcode}}                        {{l.departure_date}}                       {{l.departure_time}}                                 {{l.departure_location}}                                     {{l.destination}}{{l.username}}{%if current_user.username%}<button type="submit" class="btn btn-success btn-sm float-right">Buy</button>{%endif%}</li>
                </form>
                {%endfor%}
            </ul>
    </div>
    <br>

<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>


{% endblock %}