<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dosbag</title>
</head>
<body>
    <!-- Navbar here -->
    

    <!-- Jumbotron here -->

    <div id="jumbo" class="jumbotron jumbotron-fluid" style="background-image: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/checkedluggage0815.jpg?itok=2L4Jd-z3); background-position: center">
        <br>
        <div class="container">
            <h1 class="display-4" style="text-align: center; -webkit-text-fill-color: white">Marketplace</h1>
            <p class="lead" style="text-align: center; -webkit-text-fill-color: white">Say no more to overpriced over-the-counter check-in luggage space!</p>
        </div>
        <br>
    </div>

    <!-- Seller form -->

    <div class="container">
        <div class="row">
            <div class="col">
                <form action = "{{ url_for('seller.check') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p class="lead">Enter flight information</p>
                    <input type="flightcode" class="form-control" id="flightcode" aria-describedby="flightcode" placeholder="Enter flight code" name="flightcode">
                    <br>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>

            </div>
        </div>
        


<br>
<br>
</body>
<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>
</html>