{% extends "_layout.html" %}
{% block title %}
  Profile
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<body>
    <!-- Navbar here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="-webkit-text-fill-color: white">
    <a class="navbar-brand" href="#">Dosbag</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/seller">Marketplace</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron here -->

    <div id="jumbo" class="jumbotron jumbotron-fluid profilejumbo" style="background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/D8qa-2E/turquoise-lake-water-green-nature-background-resort-park_bdzizqio8__F0000.png); background-position: center">
        <br>
        <div class="container">
            <h1 class="display-4" style="text-align: center; -webkit-text-fill-color: white">Profile</h1>
            <p class="lead" style="text-align: center; -webkit-text-fill-color: black">Check your order history or make changes to your account</p>
        </div>
        <br>
    </div>

    <!-- Profile info -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
    
            <div ><img class ="profilepic" src="{{pic}}"></div>
            </div>
            <div class="col-sm">
                <h2 style="text-align: center">{{ current_user.username }}</h2>
                <p style="text-align: center">{{ current_user.ic_name }}</p>
                <p style="text-align: center">{{ current_user.handphone }}</p>
                <div class="text-center">
                    <form action="{{ url_for('profile.profilepic') }}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <br></br>
                        <input type="file" name="user_file">
                        <br></br>
                        <button class="btn btn-success btn-sm" type="submit">Upload</button>
                    </form>
                    <button type="submit" class="btn btn-primary btn-sm">Edit Info</button>
                </div>
                <br>
            </div>
        </div>
        <hr>
    </div>
    <br>

    <!-- Purchase History -->
    <div class="container">
        <h2>Purchase history</h2>
        <ul class="list-group">
            {%if purchase%}
                {%for p in purchase%}
                    <li class="list-group-item">{{p.username}}{{p.updated_at}}
                    {% if p.seller_id.id in rated_ids %}
                            <p>This User Has Been Rated By You</p>
                    {%else%}
                        <form class="form-inline" action="{{ url_for('profile.rate') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="user_being_rated_id" value="{{p.seller_id}}"/>
                            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Rate</label>
                            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="rate">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            </select>
                            <button type="submit" class="btn btn-outline-info">Submit</button>
                        </form><em class="float-right" style="-webkit-text-fill-color: rgb(71, 207, 26)">Success</em></li>
                    {%endif%}
                    <p>Score : {{p.seller_id.average_rating}} </p>
                {%endfor%}
            {%else%}
                <p>Your Purchase History Is Empty</p>
            {%endif%}
        </ul>
    </div>

</body>
<hr>
<footer class="lead" style="text-align: center">Created by Dosbag.inc </footer>
<br>
{% endblock %}